## kata 04

In [1]:
text = """Interesting facts about the Moon. The Moon is Earth's only satellite. There are several interesting facts about the Moon and how it affects life here on Earth. On average, the Moon moves 4cm away from the Earth every year. This yearly drift is not significant enough to cause immediate effects on Earth. The highest daylight temperature of the Moon is 127 C."""

In [2]:
text_part = text.split('. ')
text_part

['Interesting facts about the Moon',
 "The Moon is Earth's only satellite",
 'There are several interesting facts about the Moon and how it affects life here on Earth',
 'On average, the Moon moves 4cm away from the Earth every year',
 'This yearly drift is not significant enough to cause immediate effects on Earth',
 'The highest daylight temperature of the Moon is 127 C.']

In [3]:
text.lower()
palabras_clave = ["average", "temperature", "distance"]

In [36]:
text.lower()
for i in text_part:
    for j in palabras_clave:
        if j in i:
            print(i)
            break

On average, the Moon moves 4cm away from the Earth every year

The highest daylight temperature of the Moon is 127 C.

In [4]:
text.lower()
for i in text_part:
    for j in palabras_clave:
        if j in i:
            print(text.replace('C', 'Celsius'))
            break

Interesting facts about the Moon. The Moon is Earth's only satellite. There are several interesting facts about the Moon and how it affects life here on Earth. On average, the Moon moves 4cm away from the Earth every year. This yearly drift is not significant enough to cause immediate effects on Earth. The highest daylight temperature of the Moon is 127 Celsius.
Interesting facts about the Moon. The Moon is Earth's only satellite. There are several interesting facts about the Moon and how it affects life here on Earth. On average, the Moon moves 4cm away from the Earth every year. This yearly drift is not significant enough to cause immediate effects on Earth. The highest daylight temperature of the Moon is 127 Celsius.

In [5]:
name = "Moon"
gravity = 0.00162 
planet = "Earth"

In [6]:
title = f'Gravity facts about{name}'

In [7]:
facts = f"""Nombre del planeta: {planet}
        Gravedad en: {name}
        es de: {gravity * 1000} ms/2
        """

In [8]:
template = f"""Titulo: {title.title()}
            {facts}"""

In [9]:
print(facts)

Nombre del planeta: Earth
        Gravedad en: Moon
        es de: 1.6199999999999999 ms/2

In [10]:
myTemplate = """Datos de la gravedad sobre {name}
                Nombre del planeta: {planet}
                Gravedad en: {name} is {gravity}
                """
print(myTemplate)

Datos de la gravedad sobre {name}
                Nombre del planeta: {planet}
                Gravedad en: {name} is {gravity}

In [11]:
print(myTemplate.format(name=name, planet=planet, gravity=gravity))

Datos de la gravedad sobre Moon
                Nombre del planeta: Earth
                Gravedad en: Moon is 0.00162